<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aaron.order">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:name=".Order"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <activity android:name=".EventsView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NewEventActivity"></activity>
        <activity android:name=".Setting"></activity>
        <activity android:name=".WifiHelperActivity"></activity>

        <receiver android:name="BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
                <action android:name="android.net.wifi.RSSI_CHANGED"></action>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <service android:name=".MainService"
            android:label="MainService"
            android:icon="@drawable/sound"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>
    </application>

</manifest>
